extends ../layout

block content
  h3= title
  table(border='1')
    tr
      th
        b #
      th
        b ASSET
      th
        b CLOSED
      th
        b= category.includes(`f-coin`) ? `BUY (contracts)` : `BUY (coins)`
      th
        b= category.includes(`f-coin`) ? `SELL (contracts)` : `SELL (coins)`
      th
        b= category.includes(`f-coin`) ? `BALANCE (contracts)` : `BALANCE (coins)`
      th
        b BUY (total)
      th
        b SELL (total)
    each item, index in data
      - var amountBalance = item[`isClosed`] ? 0 : item[`sellAmount`] - item[`buyAmount`]
      tr
        td= index + 1
        td= item[`asset`]
        td= item[`isClosed`] ? `yes` : `no`
        td= item[`buyAmount`]
        td= item[`sellAmount`]
        td= amountBalance
        td= item[`buyTotal`]
        td= item[`sellTotal`]
