extends ../layout

block content
  h3= generalInfo.name
  table(border='1')
    tr
      th
        b #
      th
        b ASSET
      th
        b INVEST (~)
      th
        b CLOSED
      th
        b BUY (coins)
      th
        b SELL (coins)
      each periodName in generalInfo.periodNames
        th
          b= periodName
      th
        b RESULT
    each pair, index in pairs
      tr
        td= index + 1
        td= pair[`asset`]
        td= pair[`invest`]
        td= pair[`isClosed`] ? `yes` : `no`
        td= pair[`buyAmount`]
        td= pair[`sellAmount`]
        each period in generalInfo.periodNames
          - var periodProfit = pair[`periodNames`].find((item) => item === period) === period ? pair[`periodProfits`][`${period}`] : 0
          td= periodProfit
        td= pair[`profit`]
    tr
      td
        b -
      td
        b PROFIT before FEE
      td
        b -
      td
        b -
      td
        b -
      td
        b -
      each item in summaryInfo.profitByPeriods
        td
          b= item
      td
        b= summaryInfo[`profit`]
    tr
      td
        b -
      td
        b FEE
      td
        b -
      td
        b -
      td
        b -
      td
        b -
      each item in summaryInfo.feeByPeriods
        td
          b= item
      td
        b= summaryInfo.fee
    tr
      td
        b -
      td
        b PROFIT after FEE
      td
        b -
      td
        b -
      td
        b -
      td
        b -
      each item, index in summaryInfo.profitByPeriods
        td
          b= item - summaryInfo.feeByPeriods[index]
      td
        - var profitAfterFee = summaryInfo.profit - summaryInfo.fee
        b(style= profitAfterFee < 0 ? {color: `red`} : {color: `green`})= profitAfterFee
    tr
      td
        b -
      td
        b Summary
      td
        b= summaryInfo.invest
      td
        b -
      td
        b -
      td
        b -
      each item in summaryInfo.profitByPeriods
        td
          b -
      td
        b -
