extends ../layout

block content
  h3= generalInfo.name
  table(border='1')
    tr
      th
        b ASSET
      th
        b INVEST (~)
      th
        b CLOSED
      th
        b BUY (contracts)
      th
        b SELL (contracts)
      each periodName in generalInfo.periodNames
        th
          b= periodName
      th
        b PROFIT
      th
        b FEE
    tr
      td= pair[`asset`]
      td= pair[`invest`]
      td= pair[`isClosed`] ? `yes` : `no`
      td= pair[`buyAmount`]
      td= pair[`sellAmount`]
      each periodName in generalInfo.periodNames
        - var periodProfit = pair[`periodNames`].find((item) => item === periodName) === periodName ? pair[`periodProfits`][`${periodName}`] : 0
        td(style= periodProfit < 0 ? {color: `red`} : {color: `black`})= periodProfit
      td(style= pair[`profit`] < 0 ? {color: `red`} : {color: `black`})= pair[`profit`]
      td= pair[`fee`]

