extends ../layout

block content
  h3= generalInfo.name
  table(border='1')
    tr
      th
        b #
      th
        b ASSET
      th
        b CLOSED
      th
        b BUY (coins)
      th
        b SELL (coins)
      th
        b BUY (total)
      th
        b SELL (total)
      each periodName in generalInfo.periodNames
        th
          b= periodName
      th
        b PROFIT
    each pair, index in pairs
      tr
        td= index + 1
        td
          a(href=`/billing/spot/orders/${category}/${pair[`asset`]}`)= pair[`asset`]
        td= pair[`isClosed`] ? `yes` : `no`
        td= pair[`buyAmount`]
        td= pair[`sellAmount`]
        td= pair[`buyTotal`]
        td= pair[`sellTotal`]
        each period in generalInfo.periodNames
          - var periodProfit = pair[`periodNames`].find((periodName) => periodName === period) === period ? pair[`periodProfits`][`${period}`] : 0
          td(style= periodProfit < 0 ? {color: `red`} : {color: `black`})= periodProfit
        td(style= pair[`profit`] < 0 ? {color: `red`} : {color: `black`})= pair[`profit`]
    tr
      td
        b -
      td
        b PROFIT before FEE
      td
        b -
      td
        b -
      td
        b -
      td
        b= summaryInfo.buyTotal
      td
        b= summaryInfo.sellTotal
      each item in summaryInfo.profitByPeriods
        td
          b= item
      td
        b= summaryInfo[`profit`]
    tr
      td
        b -
      td
        b FEE
      td
        b -
      td
        b -
      td
        b -
      td
        b -
      td
        b -
      each item in summaryInfo[`periodFee`]
        td
          b= item
      td
        b= summaryInfo[`fee`]
    tr
      td
        b -
      td
        b PROFIT after FEE
      td
        b -
      td
        b -
      td
        b -
      td
        b -
      td
        b -
      each item, index in summaryInfo.profitByPeriods
        td
          b= item - summaryInfo[`periodFee`][index]
      td
        - var profitAfterFee = summaryInfo.profit - summaryInfo.fee
        b(style= profitAfterFee < 0 ? {color: `red`} : {color: `green`})= profitAfterFee
