extends ../layout

block content
  h3= generalInfo.name
  table(border='1')
    tr
      th
        b ASSET
      th
        b CLOSED
      th
        b BUY (coins)
      th
        b SELL (coins)
      th
        b BUY (total)
      th
        b SELL (total)
      each periodName in generalInfo.periodNames
        th
          b= periodName
      th
        b PROFIT
    each pair in pairs
      tr
        td= pair[`asset`]
        td= pair[`isClosed`] ? `yes` : `no`
        td= pair[`buyAmount`]
        td= pair[`sellAmount`]
        td= pair[`totalBuy`]
        td= pair[`totalSell`]
        each period in generalInfo.periodNames
          - var periodProfit = pair[`periodNames`].find((periodName) => periodName === period) === period ? pair[`periodProfits`][`${period}`] : 0
          td(style= periodProfit < 0 ? {color: `red`} : {color: `black`})= periodProfit
        td(style= pair[`profit`] < 0 ? {color: `red`} : {color: `black`})= pair[`profit`]
    tr
      td
        b Summary
      td
        b -
      td
        b -
      td
        b -
      td
        b= summaryInfo.totalBuy
      td
        b= summaryInfo.totalSell
      each item in summaryInfo.profitByPeriods
        td
          b(style= item < 0 ? {color: `red`} : {color: `black`})= item
      td
        b(style= summaryInfo[`profit`] < 0 ? {color: `red`} : {color: `black`})= summaryInfo[`profit`]
