extends layout

block content
  h3= generalInfo.name
  table(border='1')
    tr
      th
        b ASSET
      th
        b CLOSED
      th
        b BUY (coins)
      th
        b SELL (coins)
      th
        b PROFIT
      th
        b FEE
    each pair in pairs
      tr
        td= pair[`asset`]
        td= pair[`isClosed`] ? `yes` : `no`
        td= pair[`buyCoins`]
        td= pair[`sellCoins`]
        td= pair[`profit`]
        td= pair[`fee`]
