extends layout

block content
  h3= generalInfo.name
  table(border='1')
    tr
      th
        b ASSET
      th
        b CLOSED
      th
        b BUY (coins)
      th
        b SELL (coins)
      each periodName in generalInfo.periodNames
        th
          b= periodName
      th
        b PROFIT
      th
        b FEE
    each pair in pairs
      tr
        td= pair[`asset`]
        td= pair[`isClosed`] ? `yes` : `no`
        td= pair[`buyCoins`]
        td= pair[`sellCoins`]
        each period in generalInfo.periodNames
          - var periodProfit = pair[`periodNames`].find((item) => item === period) === period ? pair[`periodProfits`][`${period}`] : 0
          td(style= periodProfit < 0 ? {color: `red`} : {color: `black`})= periodProfit
        td(style= pair[`profit`] < 0 ? {color: `red`} : {color: `black`})= pair[`profit`]
        td= pair[`fee`]
    tr
      td
        b Summary
      td
        b -
      td
        b -
      td
        b -
      each item in summaryInfo.profitByPeriods
        td
          b(style= item < 0 ? {color: `red`} : {color: `black`})= item
      td
        b= summaryInfo.profit
      td
        b= summaryInfo.fee
