doctype html
html
  head
    title= title
  body
    each catItem in categories[`spot`]
      each coin in baseCoins
        div
          a(href=`/billing/${catItem}/${coin}`)= `${catItem}-${coin}`
    div
      a(href=`/billing/futures/signal`) f-signal
    div
      a(href=`/billing/futures/classic`) f-classic
    div
      a(href=`/billing/futures/denis`) f-denis
    div
      a(href=`/billing/futures-coin/classic/TRX`) f-coin-classic-TRX
    div
      a(href=`/billing/futures-coin/signal/BTC`) f-coin-signal-BTC
    div
      a(href=`/billing/futures-coin/classic/ETH`) f-coin-classic-ETH
    block content
