extends layout

block content
  h3= data.name
  table(border='1')
    tr
      th
        b ASSET
      th
        b CLOSED
      th
        b BUY
      th
        b SELL
      each periodName in data.periodNames
        th
          b= periodName
      th
        b PROFIT
    each pair in data.pairs
      tr
        td= pair[`asset`]
        td= pair[`isClosed`] ? `yes` : `no`
        td= pair[`buyCoins`]
        td= pair[`sellCoins`]
        each period in data.periodNames
          - var periodProfit = pair[`periodNames`].find((periodName) => periodName === period) === period ? pair[`periodProfits`][`${period}`] : 0
          td(style= periodProfit < 0 ? {color: `red`} : {color: `black`})= periodProfit
        td(style= pair[`profit`] < 0 ? {color: `red`} : {color: `black`})= pair[`profit`]
    tr
      td
        b Summary
      td
      td
      td
      each item in data.profitByPeriods
        td
          b(style= item < 0 ? {color: `red`} : {color: `black`})= item
      td
        b= data.profit
